.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .molengo-regular {
    font-family: "Molengo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.calcContainer {
    padding: 1.2rem;
    width: 30rem;
    height: 35rem;
    font-size: 1.5rem;
    background: linear-gradient(180deg, rgba(36,39,47,1) 0%, rgba(36,39,47,1) 47%, rgba(104,113,135,1) 93%, rgba(114,124,149,1) 100%);
}

textarea.descContent {
    font-family: "Molengo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    margin: 1rem 0;
    padding: 1rem;
    height: 10rem;
    width: 100%;
    overflow: auto;
    resize: none;
    box-sizing: border-box;
    border: 3px solid #45444A;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(152,156,167,1) 0%, rgba(192,195,206,1) 20%, rgba(236,236,236,1) 58%);
}

input.amountContent {
    font-family: "Molengo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    margin: 1rem 0;
    height: 6rem;
    width: 100%;
    border-radius: 1rem;
    border: 3px solid #45444A;
    background: linear-gradient(180deg, rgba(152,156,167,1) 0%, rgba(192,195,206,1) 20%, rgba(236,236,236,1) 58%);
    padding: 1rem;
}

.descContent {
    background-color: transparent;
}

.amountBtnsGrp {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.amountBtn {
    width: 8rem;
    height: 4.5rem;
    border-radius: 1rem;
    background-color: #7A7A7A;
    border: 2px solid #6A6565;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: 600;
    transition: border 0.2s ease;
}

.amountBtn:hover {
    border: 2px solid #9a9490;
}

.amountBtn:active {
    background-color: #383030;
}

.calcBtnsGrp {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1.5rem 0;
}

.calcBtnMinus {
    width: 12rem;
    height: 6rem;
    border-radius: 1rem;
    background-color: #383D42;
    border: 3px solid #F14949;
    align-content: center;
    transition: border 0.2s ease;
}

.calcBtnPlus {
    width: 12rem;
    height: 6rem;
    border-radius: 1rem;
    background-color: #383D42;
    border: 3px solid #61DD83;
    align-content: center;
    transition: border 0.2s ease;
}

.calcBtnMinus:hover, .calcBtnPlus:hover {
    border: 3px solid white;
}

.calcBtnMinus:active, .calcBtnPlus:active {
    background-color: #26282e;
}